# Ignore compiled binaries
*.exe
*.out
*.o
*.obj

# Ignore build directories
/build/
/bin/
/Debug/
/Release/
output/main
output/main.dSYM/Contents/Info.plist
output/main.dSYM/Contents/Resources/DWARF/main
